* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "PT Sans", sans-serif;
}

.mobile-container {
    max-width: 470px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/* debug */
.debug {
    border: 1px solid red;
}

/* variables */
:root {
    --color-secondary-color: #0084fd;
    --color-dark-color: #333333;
    --color-light-color: #ffffff;
    --color-primary-color: #9792e4;
    --color-bg-card: #b5ddff;
    --color-contrast-color: #fcc060;
    --color-text: #424242;
}

/* flex */

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.row-flex {
    display: flex;
}

.c-flex {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
    align-content: center;
}

/* header */
header {
    background-color: var(--color-secondary-color);
}

header a {
    text-decoration: none;
    color: var(--color-light-color);
}

/* main */

.even-section {
    background-color: var(--color-primary-color);
}

section:first-child img {
    display: block;
    width: 50%;
    position: relative;
    top: 30px;
}

section:first-child h3, i {
    color: var(--color-secondary-color);
}

.card {
    background-color: var(--color-bg-card);
    padding: 30px;
    border-radius: 30px;
    margin: 40px 0;
}

.card h3 {
    font-size: 30px;
    padding: 30px 0;
}

.card:first-child {
    padding-top: 0;
}

.card:first-child p {
    padding-bottom: 30px;
}

.card:first-child i {
    color: var(--color-light-color);
    font-size: 20px;
}

.card i {
    font-size: 80px;
}

#app-store {
    background-color: var(--color-secondary-color);
    padding: 10px 60px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}

#app-store a {
    text-decoration: none;
    color: var(--color-light-color);
    padding-left: 10px;
}

